body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('https://th.bing.com/th/id/R.3cae2d778bce92f366249e3584f206b5?rik=D%2fbAhrw3QJQUrA&riu=http%3a%2f%2f4.bp.blogspot.com%2f-GX7q-ScmeLg%2fTl8FoAN2P0I%2fAAAAAAAAAvw%2fBpPsqjzw66Q%2fs1600%2f8.jpg&ehk=91ulvHpq1b3k1rDq3wNhi8ENDo9lmt1Sb9XLLniSPE0%3d&risl=&pid=ImgRaw&r=0') center/cover no-repeat;
}

.app-container {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 600px;
  transition: box-shadow 0.3s;
}

.app-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.app-title {
  color: #333;
  text-align: center;
  margin-top: 10px;
}

.app-logo {
  width: 50px; /* Adjust the size of the logo as needed */
  height: 50px;
  margin-right: 10px;
}

.todo-input-section,
.todo-list-section {
  margin: 20px 0;
}

#todo-input {
  width: 70%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s;
}

#todo-input:focus {
  border-color: #5cb85c;
}

#add-todo-btn {
  width: 28%;
  background-color: #5cb85c;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

#add-todo-btn:hover {
  background-color: #4cae4c;
}

#todo-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  background: #eee;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s, transform 0.3s, opacity 0.3s;
}

.todo-item:hover {
  background-color: #a8dadc;
  transform: scale(1.02);
}

.todo-item.completed {
  text-decoration: line-through;
  color: #999;
  opacity: 0.7;
}

.todo-item {
  transition: background-color 0.3s, transform 0.3s, opacity 0.3s;
}

.todo-item:hover {
  background-color: #a8dadc;
  transform: scale(1.02);
}




